<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Editor</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}"/>
</head>
<body>

<h2>Map Editor</h2>

<label for="gridSize">Grid Size:</label>
<input type="number" id="gridSize" min="1" max="25" placeholder="Enter grid size ( 1 - 25)">
<select id="cellType">
    <option value="W">Water</option>
    <option value="H">High Land</option>
    <option value="L">Low Land</option>
    <option value="D">Desert</option>
</select>


<!-- <button onclick="createPerlinMap()">Create Perlin Map</button> -->

<table id="mapTable">
    <!-- The table will be dynamically generated based on user input -->
</table>
<button onclick="createGrid()">Create Grid</button>
<button onclick="createRandomMap()">Create Random Map</button>


<button onclick="generateString()">Generate String</button>
<button onclick="runSimulation()">Run Simulation</button>

<script src="{% static 'scripts/script.js' %}"></script>

<script>
function runSimulation() {
    fetch(`run-simulation/`)
        .then((response) => response.json())
        .then(data => {
            console.log(window.location)
            var loc = window.location
            var wsStart = "ws://"
            if (loc.protocol == 'https:') {
                wsStart = "wss://"
            }
            // var endpoint = wsStart + window.location.host + "/ws/task_status/"
            var endpoint = `ws://localhost:8000/ws/task_status/`
            // Establish WebSocket connection
            console.log(endpoint)

            var socket = new WebSocket(endpoint);

            // Send the task ID to the server
            socket.onopen = event => {
                console.log('WebSocket connection opened!');
                socket.send(JSON.stringify({ 'task_id': data.task_id }));
            };

            // Handle messages from the server
            socket.onmessage = event => {
                const receivedData = JSON.parse(event.data);
                console.log('Received message from server:', receivedData);

                // Update the user based on the task status
                if (receivedData.status === 'SUCCESS') {
                    console.log(`task : completed`)
                    alert('Task completed!');
                    // socket.close();
                } else {
                    // Update the user interface based on the task status
                    console.log(`Task status: ${receivedData.status}`);
                }
            };

            socket.onclose = event => {
                console.log('WebSocket connection closed:', event);
            };

            socket.onerror = error => {
                console.error('WebSocket error:', error);
            };
        });
};

</script>

</body>
</html>
